<h1>Angular / React / Spline</h1>
<!-- How Do It -->
<!--
  You Have to install
  > npm install react react-dom
  > npm install -D @types/react @types/react-dom
-->
<!--* Renderizando componente de React directamente en el div -->
<!-- <div [id]="reactComponentId"></div> -->

<!--* Renderizando componente de React a traves de la directiva -->
<!-- <div [reactComponent]="SplineViewer"></div> -->
<div [reactComponent]="Spline" [props]="splineProps"></div>
<!-- <ngt-canvas>
  <ngt-ambient-light></ngt-ambient-light>
  <ngt-spot-light [position]="[2, 2, 2]"></ngt-spot-light>

  <ngt-mesh
    #mesh="ngtMesh"
    (animateReady)="onAnimate(mesh.mesh)"
    [position]="[0, 2, 0]"
  >
    <ngt-box-geometry></ngt-box-geometry>
    <ngt-mesh-standard-material [parameters]="{ color: 'red' }">
    </ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-canvas> -->
